langchain-groq
langgraph
dotenv
langchain_core
streamlit
langgraph-checkpoint-sqlite
langchain-tavily
faiss-cpu
sentence-transformers
langchain-community
langchain-huggingface
pypdf
torchvision
langchain-google-genai
